/PlatformService/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/PlatformService/obj/Debug/net10.0/PlatformService.AssemblyInfo.cs
/PlatformService/obj/Debug/net10.0/PlatformService.AssemblyInfoInputs.cache
/PlatformService/obj/Debug/net10.0/PlatformService.assets.cache
/PlatformService/obj/Debug/net10.0/PlatformService.csproj.AssemblyReference.cache
/PlatformService/obj/Debug/net10.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
/PlatformService/obj/Debug/net10.0/PlatformService.GlobalUsings.g.cs
/PlatformService/obj/Debug/net10.0/project.razor.json
/PlatformService/obj/PlatformService.csproj.nuget.dgspec.json
/PlatformService/obj/PlatformService.csproj.nuget.g.props
/PlatformService/obj/PlatformService.csproj.nuget.g.targets
/PlatformService/obj/project.assets.json
/PlatformService/obj/project.nuget.cache
/PlatformService/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/cs/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/de/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/es/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/fr/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/it/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/ja/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/ko/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/pl/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/pt-BR/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/ru/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/runtimes/unix/lib/net9.0/Microsoft.Data.SqlClient.dll
/PlatformService/bin/Debug/net10.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/PlatformService/bin/Debug/net10.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/PlatformService/bin/Debug/net10.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/PlatformService/bin/Debug/net10.0/runtimes/win/lib/net9.0/Microsoft.Data.SqlClient.dll
/PlatformService/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/tr/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hans/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PlatformService/bin/Debug/net10.0/zh-Hant/Microsoft.Data.SqlClient.resources.dll
/PlatformService/bin/Debug/net10.0/appsettings.Development.json
/PlatformService/bin/Debug/net10.0/appsettings.json
/PlatformService/bin/Debug/net10.0/AutoMapper.dll
/PlatformService/bin/Debug/net10.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/PlatformService/bin/Debug/net10.0/Azure.Core.dll
/PlatformService/bin/Debug/net10.0/Azure.Identity.dll
/PlatformService/bin/Debug/net10.0/Humanizer.dll
/PlatformService/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
/PlatformService/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
/PlatformService/bin/Debug/net10.0/Microsoft.Bcl.Cryptography.dll
/PlatformService/bin/Debug/net10.0/Microsoft.Build.Framework.dll
/PlatformService/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.dll
/PlatformService/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/PlatformService/bin/Debug/net10.0/Microsoft.CodeAnalysis.dll
/PlatformService/bin/Debug/net10.0/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.dll
/PlatformService/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.dll
/PlatformService/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/PlatformService/bin/Debug/net10.0/Microsoft.Data.SqlClient.dll
/PlatformService/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/PlatformService/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Design.dll
/PlatformService/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.dll
/PlatformService/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.InMemory.dll
/PlatformService/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
/PlatformService/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/PlatformService/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
/PlatformService/bin/Debug/net10.0/Microsoft.Identity.Client.dll
/PlatformService/bin/Debug/net10.0/Microsoft.Identity.Client.Extensions.Msal.dll
/PlatformService/bin/Debug/net10.0/Microsoft.IdentityModel.Abstractions.dll
/PlatformService/bin/Debug/net10.0/Microsoft.IdentityModel.JsonWebTokens.dll
/PlatformService/bin/Debug/net10.0/Microsoft.IdentityModel.Logging.dll
/PlatformService/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.dll
/PlatformService/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/PlatformService/bin/Debug/net10.0/Microsoft.IdentityModel.Tokens.dll
/PlatformService/bin/Debug/net10.0/Microsoft.OpenApi.dll
/PlatformService/bin/Debug/net10.0/Microsoft.SqlServer.Server.dll
/PlatformService/bin/Debug/net10.0/Microsoft.VisualStudio.SolutionPersistence.dll
/PlatformService/bin/Debug/net10.0/Mono.TextTemplating.dll
/PlatformService/bin/Debug/net10.0/Newtonsoft.Json.dll
/PlatformService/bin/Debug/net10.0/PlatformService.deps.json
/PlatformService/bin/Debug/net10.0/PlatformService.dll
/PlatformService/bin/Debug/net10.0/PlatformService.exe
/PlatformService/bin/Debug/net10.0/PlatformService.pdb
/PlatformService/bin/Debug/net10.0/PlatformService.runtimeconfig.json
/PlatformService/bin/Debug/net10.0/PlatformService.staticwebassets.endpoints.json
/PlatformService/bin/Debug/net10.0/System.ClientModel.dll
/PlatformService/bin/Debug/net10.0/System.CodeDom.dll
/PlatformService/bin/Debug/net10.0/System.Composition.AttributedModel.dll
/PlatformService/bin/Debug/net10.0/System.Composition.Convention.dll
/PlatformService/bin/Debug/net10.0/System.Composition.Hosting.dll
/PlatformService/bin/Debug/net10.0/System.Composition.Runtime.dll
/PlatformService/bin/Debug/net10.0/System.Composition.TypedParts.dll
/PlatformService/bin/Debug/net10.0/System.Configuration.ConfigurationManager.dll
/PlatformService/bin/Debug/net10.0/System.IdentityModel.Tokens.Jwt.dll
/PlatformService/bin/Debug/net10.0/System.Memory.Data.dll
/PlatformService/bin/Debug/net10.0/System.Security.Cryptography.ProtectedData.dll
/PlatformService/obj/Debug/net10.0/ref/PlatformService.dll
/PlatformService/obj/Debug/net10.0/refint/PlatformService.dll
/PlatformService/obj/Debug/net10.0/apphost.exe
/PlatformService/obj/Debug/net10.0/Platform.C7468C4A.Up2Date
/PlatformService/obj/Debug/net10.0/PlatformService.csproj.CoreCompileInputs.cache
/PlatformService/obj/Debug/net10.0/PlatformService.csproj.FileListAbsolute.txt
/PlatformService/obj/Debug/net10.0/PlatformService.dll
/PlatformService/obj/Debug/net10.0/PlatformService.genruntimeconfig.cache
/PlatformService/obj/Debug/net10.0/PlatformService.MvcApplicationPartsAssemblyInfo.cache
/PlatformService/obj/Debug/net10.0/PlatformService.MvcApplicationPartsAssemblyInfo.cs
/PlatformService/obj/Debug/net10.0/PlatformService.pdb
/PlatformService/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/PlatformService/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/PlatformService/obj/Debug/net10.0/rpswa.dswa.cache.json
/PlatformService/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/PlatformService/obj/Debug/net10.0/staticwebassets.build.json
/PlatformService/obj/Debug/net10.0/staticwebassets.build.json.cache
/PlatformService/obj/Debug/net10.0/staticwebassets.removed.txt
/PlatformService/obj/Debug/net10.0/swae.build.ex.cache
/PlatformService/.vs/PlatformService/DesignTimeBuild/.dtbcache.v2
/PlatformService/.vs/PlatformService/FileContentIndex/41f47bff-71d4-43f2-bed8-7390a15c58a0.vsidx
/PlatformService/.vs/PlatformService/FileContentIndex/7f387965-1eaf-485e-8785-c043b4286255.vsidx
/PlatformService/.vs/PlatformService/FileContentIndex/84c3481f-2647-4126-af94-08740820f0e7.vsidx
/PlatformService/.vs/PlatformService/FileContentIndex/cae1570c-cf6a-4459-96fa-ba07f77af6ad.vsidx
/PlatformService/.vs/PlatformService/FileContentIndex/eccb376b-e254-4c8c-b911-953cb6a08606.vsidx
/PlatformService/.vs/PlatformService/v18/.suo
/PlatformService/.vs/PlatformService/config/applicationhost.config
/PlatformService/.vs/PlatformService/FileContentIndex/21b1de43-9d8d-4e8e-ba6b-77d757e7af5c.vsidx
/PlatformService/.vs/PlatformService/FileContentIndex/32275bb7-01a2-4987-97f1-766964000859.vsidx
/PlatformService/.vs/PlatformService/FileContentIndex/5d1fc60d-9c8e-4cba-b658-6d5bd0e44884.vsidx
/PlatformService/.vs/PlatformService/FileContentIndex/67e5cb54-679f-449a-8f17-d6865f06d2c8.vsidx
